*,
*::after,
*::before{
    box-sizing: border-box;
}


:root {
    /* background */
    --c-primery: #192126;
    --c-secondary: #8B8F92;
    --c-accent: #BBF246;
    --c-light: #FFFFFF;
    /* text */
    --txt-c-primery: var(--c-primery);
    --txt-c-secondaryt: var(--c-secondary);
    --txt-c-accent: var(--c-accent);
    --txt-c-light:var(--c-light);
    /* font */
  }
ul, ol, li{
list-style: none;
}
a{
    text-decoration: none;
}

/* button{
    list-style: none;
    font: inherit;
    color: inherit;  
} */


.btn{
    list-style: none;
    border: none;
    font: inherit;
    color: inherit;  
    border-radius: 32px;
    /* margin-top: 20px; */
    padding: 14px 35px;
    font-size: 16px;
    cursor: pointer;
    animation: glowing 1300ms infinite;
}
    @-webkit-keyframes glowing {
    0% { background-color: 0; -webkit-box-shadow: #BBF246 0 3px  #BBF246; }
    50% { background-color: 0; -webkit-box-shadow: 0 0 15px  #94d20e; }
    100% { background-color: 0; -webkit-box-shadow: #BBF246 0 3px  #BBF246; }
    }

.secondary-title{
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    background-color: #F5F5F5;
}
.container{
    padding: 0 5px 25px 5px;
    min-width: 320px;
    margin: 0 auto;
}

.start-day{
    color: var(--c-primery);
    padding: 5px;
    /* position: fixed; */
    font-size: 22px;
    font-weight: 700;
    text-shadow: 1px 1px var(--c-accent);
}
.header__start{
    background-color: var(--c-accent);
    margin: 0 20px;
    color: var(--txt-c-primery);
}
.header__top-content{
    background-image: url(../images/main.svg);
    height: 99vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}
.header__title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 33px;
    line-height: 50px;
    /* margin-top: 120px; */
    margin-bottom: 70px;
    color: var(--txt-c-primery);
    text-shadow: 1px 0 #94d20e;
   /* text-shadow: 1px solid rgba(187, 242, 70, 0.55); */
    }

.countdown{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    font-size: 20px;
}

.countdown-number{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40%;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 6px 27px 3px rgb(0 0 0 / 4%);
    justify-content: flex-end;
}
.header__btn,
.callback-btn{
    background-color: var(--c-primery);
    color: var(--txt-c-light);
    margin-top: 10px;
}

.about-marathon__wishes{
    background-image: url(../images/about1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    padding: 5px;
    color: var(--txt-c-light);
}

.about-marathon__wishes-list,
.author__list,
.price__list{
  padding: 0 0 20px 20px;
  font-size: 13px;
}
.about-marathon__wishes-item,
.author__item,
.price__item,
.weeks__item{
  list-style-image: url(../images/back.svg);
  padding-bottom: 7px;
  line-height: 22px;
}

.about-marathon__steps-list{
    list-style: calc(1);
}
.about-marathon__steps-item{
    display: flex;
    background-color: white;
    border-radius: 26px;
    margin-bottom: 20px;
    counter-increment: number;
}

.about-marathon__steps-item::after{
    content: counter(number);
    background-color: var(--c-accent);
    padding: 2px 8px;
    height: 17px;
    font-size: 10px;
    line-height: 15px;
    color: #5E6468;
    border-radius: 0px 0px 6px 6px;
    margin-right: 21px;
    margin-top: -5px;
}
.steps-img{
    margin: 9px 15px;
    border-radius: 16px;
}
.steps-content{
    margin-top: 10px;

}
.steps-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.stps-info{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(25, 33, 38, 0.5);       
}

.author{
    background-color: var(--c-primery);
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;

}
.author-title{
    font-weight: 500;
    color: var(--txt-c-light);
}
.me-title{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--txt-c-light);
   padding: 25px 0;
}

.author__list,
.author__content{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
}

.blockquote-content{
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: var(--txt-c-secondaryt);
    background-color: white;
    border-radius: 26px;
    margin: 20px 20px;
    padding: 10px;
}


.info-tabs {
    margin-bottom: 20px;
}
.info-tabs__items{
    margin-bottom: 12px;   
    display: flex;
    justify-content: space-evenly;
}
.info-tabs__item{
    font-size: 18px;
    line-height: 25px;
    padding: 10px 15px;
    /* margin-right: 40px; */
    border-radius: 12px;
    background-color: var(--c-accent);
    color: var(--txt-c-primery);
}

.info-tabs__item--active{
  border: none;
  background-color: var(--c-primery);
  color: var(--c-accent);
}

.info-tabs__content{
    display: none;
}
.info-tabs__content--active{
    display: block;
    background-color: var(--c-light);
    color: var(--txt-c-secondaryt);    
    padding: 20px;
    font-size: 13px;
    border-radius: 26px;
    margin: 0 25px;
}

.weeks-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 20px auto;
}
.weeks__day-content{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--txt-c-primery);
}

.price{
    background-image: url(../images/price.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    padding: 0 5px 15px 5px;
    color: var(--txt-c-light);
    border-radius: 26px;
    display: flex;
    flex-direction: column;
}
.price__list{
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.old-prise{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: red;
    margin: 0 20px 20px 20px;
}
.new-prise{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--c-accent);
    margin: 0 20px 20px 20px;
}
.help{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    margin: 20px;
    display: flex;
    align-items: flex-end;
}
.accent__btn{
    background-color: var(--c-accent);
    color: #192126;
    display: block;
    margin: 20px auto;
}


.callback{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callback__input{
    background-color: var(--c-primery);
    color: var(--txt-c-light);
    padding: 15px 70px;
    margin: 10px;
    border: none;
    border-radius: 15px;
}

.input-name{
background-image: url(../images/name.svg);
background-repeat: no-repeat;
background-size: inherit;
text-align: center;
background-position: left 10% bottom 50%;
}

.input-tel{
    background-image: url(../images/tel.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    text-align: center;
    background-position: left 10% bottom 50%;

}
.input-mail{
    background-image: url(../images/mail.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    text-align: center;
    background-position: left 10% bottom 50%;   
}

    .FAQ-container {
        /* padding: 0 5px 25px 5px; */
        margin: 0 auto;
    }
    .FAQ-body {
        margin: 0 auto;
        height: 0;
        line-height: 18px;
        padding: 0 30px;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 13px;
        color: var(--c-secondary);
    }
    .FAQ-body p { 
        margin: 0 0 10px;
    }
    .FAQ__question {
        color:  color: var(--txt-c-primery);;
        cursor: pointer;
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        padding: 10px;
        z-index: 100;
    }
  
    .FAQ-container input{
        display: none;
    }
    .FAQ__question:before {
        content: '\276F';
        float: right;
    }
    .FAQ-container input:checked + .FAQ__question {
        color: var(--txt-c-primery);
    }
    .FAQ-container input:checked + .FAQ__question:before {
        transition: transform .35s;
        transform: rotate(90deg);
    }
    .FAQ-container input:checked + .FAQ__question + .FAQ-body {
        height: auto;
        margin-top: -5px;
        padding: 20px;
    }

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}
.slider__item{
    text-align: center;
}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}

.slider__content{
    position: relative;
    /* padding: 0 50px; */
}
.slider__content .slick-arrow{
    /* position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
    margin: -30px 0 0 0; */
    border: none;
    font-size: 0;
    background-color: transparent;
}
/* .slider__content .slick-arrow.slick-prev{
    left: 0;
    background-image: url(../images/doun.svg);
    background-image: url(../images/back.svg) 0 0 / 100% no-repeat;
} */
/* .slider__content .slick-arrow.slick-next{
    right: 0;
    background-image: url(../images/doun.svg);
    } */
/* Точки (булиты) */
.slider__content .slick-dots{ 
    display: flex;
    justify-content: center;
}
.slider__content .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slider__content .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: var(--c-accent);
    border-radius: 50%;
}
/* Активная точка */
.slider__content .slick-dots li.slick-active button{
    background-color: var(--c-primery);
}
/* Элемент точки */
.slick-dots li button{
    /* color: var(--c-accent); */
}

@media(min-width: 768px){
    body{
        font-size: 21px;
        line-height: 26px;
    }
    .container {
        min-width: 768px;    
    }
    .btn{
        font-size: 23px;    
    }
    .secondary-title{
        font-size: 25px;
        line-height: 30px;
    }

  
    .about-marathon__wishes{
        max-width: fit-content;
        margin: 0 auto;
    }
    .about-marathon__wishes-list,
    .author__list,
    .price__list {
        font-size: 21px;
    }

    .about-marathon__wishes-item,
    .author__item,
    .price__item,
    .weeks__item{
    padding-bottom: 14px;
    }
    .about-marathon__steps-item{
        max-width: 49%;
    }

    .about-marathon__steps-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .author{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
    .weeks-title {
        font-size: 23px;
    }
    .old-prise,
    .new-prise{
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 30px;
    }
    .blockquote-content{
        margin: 20px 100px;
    }
   
    .slider__content .slick-arrow.slick-prev{
        left: 0;
        background-image: url(../images/doun.svg);
        /* background-image: url(../images/back.svg) 0 0 / 100% no-repeat; */
    }
    .slider__content .slick-arrow.slick-next{
        right: 0;
        background-image: url(../images/doun.svg);
        }
        .slider__content .slick-arrow{
            position: absolute;
            top: 50%;
            z-index: 10;
            width: 30px;
            height: 50px;
            margin: -30px 0 0 0;
        }
   }
   
   @media(min-width: 900px){
    body{
        font-size: 21px;
        line-height: 26px;
    }
    .container {
        width: 900px;    
    }
    .header__top-content{
        background-size: contain;
    }
    .about-marathon__steps-list {
        justify-content: space-between;
    }
    .FAQ-container {
        margin: 0 50px;
    }
}